#taskManagement {
    background: #fff;
}
.task-management h4 {
    background: #eee;
    padding: 5px;
}
.task-management .task {
    padding: 10px;
    margin: 10px;
    border-bottom: dotted 1px #ccc;
}
.task-management .task label {
    display: inline-block;
}
.task-management .task input[type="checkbox"],
.task-management .task span.tag
{
    visibility: hidden;
}
.task-management .task:hover {
    background: #F5F7FA;
}
.task-management .task input[type="checkbox"]:checked,
.task-management .task:hover input[type="checkbox"],
.task-management .task:hover span.tag
{
    visibility: visible;
}
.task-detail {
    padding-right: 7px;
}
.task-detail .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: solid 4px #666;
    background-color: #fff;
    cursor: pointer;
}
.task-detail .icon.icon-completed,
.task-detail .icon:hover {
    margin-top: 0px;
    background: #fff url("../images/completed.png") no-repeat top left;
}
.task-detail .icon.icon-completed {
    vertical-align: middle;
}
.task-detail .icon.icon-completed:hover {
    background-image: none;
}
.task-description .editable-inline,
.task-description .editable-input,
.task-description .editable-input textarea,
.task-description .editableform {
    width: 100%;
}
.editable[data-type="textarea"] {
    display: block;
    height: 72px;
    border: solid 1px #ccc;
    padding: 3px 10px;
    margin: 3px 0px 30px;
    border-radius: 3px;
}
.task-info-row {
    margin: 10px 0;
}
#taskManagement .open button.dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
    border: solid 1px #ccc;
}
#taskManagement button.dropdown-toggle:hover {
    border: solid 1px #ccc;
}
#taskManagement .dropdown-toggle {
    border: solid 1px transparent;
    background: transparent;
    box-shadow: none;
}
.editable-click, a.editable-click {
    display: inline-block;
    padding: 5px 20px 5px 5px;
    border: solid 1px transparent;
    color: #333;
}
a.editable-click:hover {
    border: solid 1px #ddd;
}
#taskCommentButton {
    margin-top: 10px;
}
.comment .comment-action {
    width: 16px;
}
.comment .action-link {
    visibility: hidden;
}
.comment:hover .action-link {
    visibility: visible;
}
.leftPanel ul.nav li a {
    border-radius: 0;
    margin: 0;
}
.leftPanel ul.left-menu.nav > li {
    margin: 3px 0;
}
.leftPanel ul.left-menu.nav > li > a {
    background: #eee;
}
.leftPanel ul.left-menu.nav li.dropdown > ul.dropdown-menu {
    top: 30px;
    left: calc(100% - 30px);
}
.leftPanel ul.left-menu.nav li.dropdown b.caret {
    float: right;
}
.leftPanel ul.list-projects.nav li.dropdown > a > b.caret {
    visibility: hidden;
}
.leftPanel ul.list-projects.nav li.dropdown:hover > a > b.caret {
    visibility: visible;
}
.leftPanel ul.left-menu.nav > li.active a {
    background: #0088cc;
}
.leftPanel ul.left-menu.nav > li > ul.list-projects {
    margin: 0;
}
.leftPanel ul.left-menu.nav > li > ul.list-projects > li > a {
    padding-left: 5px;
    margin: 0;
}
.project-description .editable-inline,
.project-description .editable-input,
.project-description .editable-input textarea,
.project-description .editableform {
    width: 100%;
}
ul.list-projects {
    margin-bottom: 0px;
    padding-left: 7px;
}
