.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* Reset*/
body .editable-click,
body a.editable-click,
body a.editable-click:hover {
  border: 1px solid transparent;
}
input.grayLarge {
  font-size: 18px;
  height: 36px;
  width: 100%;
}
input.blackLarge {
  font-size: 18px;
  height: 36px;
  width: 100%;
}
input.grayNormal {
  font-size: 13px;
  height: 28px;
  width: 100%;
}
input.blackNormal {
  font-size: 13px;
  height: 28px;
  width: 100%;
}
select.selectboxMini {
  height: 30px;
  vertical-align: middle;
  width: 72px;
  margin: 0;
}
li[data-showhiddenproject="false"] li[data-hiddenproject="true"] {
  display: none;
}
li[data-showhiddenproject="false"] .label-hideHiddenProject {
  display: none;
}
li[data-showhiddenproject="false"] li.all-children-hided a.collapseSubProject {
  display: none;
}
li[data-showhiddenproject="true"] .label-showHiddenProject {
  display: none;
}
li[data-showhiddenproject="true"] .all-project-hidden {
  display: none;
}
li[data-hiddenproject="true"] a.project-name {
  opacity: 0.5;
}
li[data-hiddenproject="true"] > .sub-item .label-hide {
  display: none;
}
li[data-hiddenproject="false"] > .sub-item .label-show {
  display: none;
}
.not-all-project-hidden {
  display: none;
}
.empty-box {
  position: relative;
  text-align: center;
  padding-top: 100px!important;
  padding-bottom: 100px!important;
  min-height: 200px;
}
.empty-box .empty-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.empty-box .image {
  margin-bottom: 15px;
}
.empty-box .text-notify {
  font-size: 24px;
  line-height: 26px;
}
.empty-box .text-notify span {
  font-size: 18px;
  display: block;
}
.projectListView > .header {
  margin-bottom: 20px;
}
.projectListView .header {
  padding: 10px;
}
.projectListView .header .input-field {
  position: relative;
}
.projectListView .header .input-field .popover {
  left: 0!important;
  top: 43px!important;
}
.projectListView .header .input-field .popover .arrow {
  left: 50px;
}
.projectListView .header h2 {
  margin: 0 0 0 5px;
  font-size: 19px;
  line-height: 100%;
  padding-top: 5px;
}
.projectListView .uiContentBox {
  padding: 0;
}
.taskMngCont {
  margin: 20px;
}
/* Projects Area */
#taskManagement .centerPanel.uiBox .projectListView .title {
  padding: 4px 5px;
  line-height: 28px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .label-title {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput input[type="text"] {
  min-height: 28px;
  height: 28px;
  float: right;
  max-width: 200px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput .advancedSearch,
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput .AdvancedSearch {
  top: 1px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .settingActionButtons {
  margin-left: 5px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .settingActionButtons .actionIcon {
  margin-top: 1px;
  float: left;
}
.leftPanel .accordion-heading .popover {
  left: auto;
  right: -112px;
  max-width: 256px;
  top: 26px;
  width: 250px;
}
.leftPanel .accordion-heading .popover.bottom .arrow {
  left: 120px;
}
.centerPanel .uiHeaderBar .alignBtnGroup {
  margin: 0 auto;
  width: 200px;
}
.filter-form .btn.dropdown-toggle {
  padding-right: 10px;
}
.filter-form .action-bar {
  display: inline-block;
  margin-top: 2px;
  margin-left: 5px;
  vertical-align: middle;
}
.all-task .all-task-action-toggle a.active {
  font-weight: bold;
}
.all-task span {
  vertical-align: middle;
}
.all-task .all-task-action {
  display: none;
  text-align: left;
}
.editable-input textarea {
  width: 100%;
}
.input-field input {
  width: 100%;
  margin: 10px 0 0;
}
.advancedSearch-action {
  display: none;
}
.leftPanel,
.rightPanel {
  position: relative;
}
.leftPanel .resizeButton,
.rightPanel .resizeButton {
  cursor: pointer;
  height: 16px;
  right: -18px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}
.rightPanel .resizeButton {
  left: -18px;
  right: auto;
}
.rightPanel .addProject .breadcrumbCont,
.rightPanel .addProject .inputName,
.rightPanel .addProject .prjAuthor,
.rightPanel .addProject .prjDescription {
  margin: 0 0 10px;
}
.rightPanel .addProject .breadcrumbCont {
  position: relative;
}
.rightPanel .addProject .breadcrumbCont input {
  width: 100%;
}
.rightPanel .addProject .prjAuthor {
  padding: 0 10px;
  line-height: 30px;
}
.rightPanel .addProject .prjAuthor .avatarSmall {
  font-weight: bold;
}
.rightPanel .addProject .inputName {
  font-size: 18px;
  line-height: 26px;
}
.rightPanel .addProject .viewInCal {
  padding: 7px 28px;
}
.rightPanel .addTask .iconTaskName {
  margin: 5px 5px 0 0;
}
.rightPanel .addTask .action-buttons + .uiEditableInline {
  margin-right: 75px;
}
.rightPanel .addTask .breadcrumbCont {
  display: block;
  margin-left: 22px;
}
.rightPanel .addTask .breadcrumbCont li {
  font-weight: bold;
}
.rightPanel .addTask .breadcrumbCont li i {
  font-weight: normal;
}
.rightPanel .addTask .breadcrumbCont .breadcrumb {
  display: block;
}
.rightPanel .addTask .breadcrumbCont input {
  width: 100%;
}
.rightPanel .addTask .uiContentBox {
  padding-top: 8px;
}
.rightPanel .addTask .taskName {
  margin-top: 5px;
}
.rightPanel .addTask .taskName .projectName {
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
  display: block;
}
.rightPanel .addTask .taskName .title-container {
  position: relative;
}
.rightPanel .addTask .taskName .title-container .validate-action {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.rightPanel .addTask .taskName .title-container span:nth-child(1) {
  margin: 8px 0 0;
}
.rightPanel .addTask .taskName .title-container span.projectName {
  margin-left: 22px!important;
  border: none;
}
.rightPanel .addTask .taskName .title-container span:nth-child(3) {
  margin-left: 22px;
}
.rightPanel .addTask .taskName .editable-container.editable-inline {
  margin-left: 22px;
}
.rightPanel .addTask .taskName input.blackLarge {
  padding: 0 4px;
}
.rightPanel .addTask .taskName .parmalink {
  margin-top: 5px;
}
.rightPanel .addTask .taskName .parmalink i {
  vertical-align: middle;
}
.rightPanel .addTask .inforBar1 > .pull-left,
.rightPanel .addTask .taskDescription,
.rightPanel .addTask .inforBar2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.rightPanel .addTask .inforBar1 > div {
  margin-right: 5px;
}
.rightPanel .addTask .inforBar1 > div .toDo .editable-container.editable-inline {
  display: inline-block;
}
.rightPanel .addTask .inforBar1 > div:last-child {
  margin-right: 0;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover {
  min-width: 252px;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline {
  white-space: nowrap;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline a {
  padding-left: 5px;
  margin: 10px 0 10px 2px;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline a.active {
  font-weight: bold;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline a:first-child {
  margin-left: 0;
  padding-left: 0;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .uiCalendarComponent hr {
  margin: 0;
}
.rightPanel .addTask .inforBar2 .priority .editable-container.editable-inline {
  display: inline-block;
}
.rightPanel .addTask .tags a {
  box-shadow: none;
}
.rightPanel .addTask .tags > .icon-hash {
  margin-top: 8px;
  margin-right: 6px;
}
.rightPanel .addTask .tags.uiEditableInline .hoverStatus {
  color: #999;
}
.rightPanel .addTask .tags.active .icon-hash {
  display: none;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea span {
  margin-right: 5px;
  line-height: 20px;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea span:last-child {
  margin-right: 0;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea.inactive {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  margin: 0;
}
.centerPanel .uiSearchInput.searchWithIcon {
  display: block;
}
.centerPanel.span5 .settingActionButtons .advancedSearch-action {
  display: inline-block;
}
.centerPanel.span5 .uiSearchInput {
  display: none;
}
.centerPanel.span5 .uiHeaderBar.toggle .uiSearchInput {
  display: block;
}
.centerPanel.span5 .uiHeaderBar.toggle .alignBtnGroup {
  float: left;
  width: auto;
}
.centerPanel.span5 .all-task-action-toggle {
  display: none;
}
.centerPanel.span5 .all-task-action {
  display: inline-block;
  margin-top: 2px;
}
#taskManagement .centerPanel.span5 .title .label-title {
  max-width: 130px;
}
#taskManagement .centerPanel.span9 .uiHeaderBar.toggle .label-title {
  display: block;
}
.uiHeaderBar.toggle .label-title,
.uiHeaderBar.toggle .action-search {
  display: none;
}
.uiHeaderBar.toggle .action-close {
  display: inline-block !important;
}
.table-project .column-item .actionIcon {
  padding: 0 2px;
  margin: 2px 0;
}
.table-project .column-item .actionIcon .uiIconArrowRight {
  background-position: -39px -120px;
}
.table-project .column-item .actionIcon .uiIconClock {
  background-position: -160px -81px;
}
.rightPanel .title .actionIconSmall {
  line-height: 10px;
}
.rightPanel .taskDescription {
  word-wrap: break-word;
}
.form-create-task {
  margin-left: 25px;
}
.form-create-task > input {
  opacity: 0.5;
}
.form-create-task > input:focus {
  opacity: 1;
}
.sharePrjDialog,
.modal8 {
  width: 800px;
  margin-left: -400px;
}
.sharePrjDialog .exo-mentions .autocomplete-menu,
.modal8 .exo-mentions .autocomplete-menu {
  margin-top: -1px;
}
.sharePrjDialog .table td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.action-mentions .exo-mentions {
  background: transparent;
  border-radius: 0;
}
.permission-owner .replaceTextArea {
  float: left;
  height: auto;
  vertical-align: top;
  width: 60%;
  padding: 5px;
  margin-right: 5px;
  min-height: 16px;
}
.permission-owner .replaceTextArea.open {
  overflow: visible;
}
.exo-mentions .replaceTextArea > span {
  margin: 2px 1px;
}
.exo-mentions .replaceTextArea > span i {
  cursor: pointer;
}
.list-users .item:last-child {
  margin-bottom: 0;
}
.userSelectorDialog .uiSearch {
  margin-top: 0;
}
.list-projects .no-project {
  padding: 6px 0px;
}
.row-item .dragable {
  width: 6px;
  height: 22px;
  background: url('../images/icons/dragable.png');
  left: 8px;
  cursor: move;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.commentList .commmentLeft + .commentRight {
  margin-left: 50px;
}
.commentList .commentRight .author .date {
  margin-left: 10px;
  font-size: 12px;
  padding-right: 16px;
}
.commentList .commentItem {
  position: relative;
  margin: 10px 0 15px 0;
}
.commentList .commentFormBox {
  margin-bottom: 0;
}
.commentList .commentFormBox .exo-mentions {
  margin-bottom: 15px;
}
.commentList .contentComment {
  word-wrap: break-word;
}
.commentList .controllDelete {
  cursor: pointer;
  display: none;
  position: absolute;
  right: -5px;
  top: 0;
}
.commentList .commentItem:hover .controllDelete {
  display: block;
}
.commentList .author a {
  font-weight: bold;
  word-wrap: break-word;
}
.autocomplete-menu li {
  position: relative;
}
.autocomplete-menu .user-status {
  position: absolute;
  right: 7px;
  top: 7px;
}
.list-changes li + li {
  margin-top: 10px;
}
.done {
  text-decoration: line-through;
}
.labels,
.tags {
  margin: 5px 0;
}
.tags .label {
  margin: 1px 1px 1px ;
}
.tags .hoverStatus > .label {
  float: left;
}
[data-currentgroupby=""] [data-groupby=""] {
  display: none;
}
[data-currentgroupby="status"] [data-groupby="status"] {
  display: none;
}
[data-currentgroupby="assignee"] [data-groupby="assignee"] {
  display: none;
}
[data-currentgroupby="project"] [data-groupby="project"] {
  display: none;
}
[data-currentgroupby="tag"] [data-groupby="tag"] {
  display: none;
}
[data-currentorderby=""] [data-orderby=""] {
  display: none;
}
[data-currentorderby="title"] [data-orderby="title"] {
  display: none;
}
[data-currentorderby="priority"] [data-orderby="priority"] {
  display: none;
}
[data-currentorderby="dueDate"] [data-orderby="dueDate"] {
  display: none;
}
[data-currentorderby="createdTime"] [data-orderby="createdTime"] {
  display: none;
}
.exo-mentions .tags {
  margin: 0;
}
.editable-pre-wrapped {
  white-space: normal;
}
.editable-container.editable-inline,
.editable-input {
  display: block;
}
.editable-container.editable-popup .popover-title {
  display: none;
}
.selectize-input {
  padding: 0 4px;
}
.selectize-input.has-items {
  padding: 2px 4px;
}
.selectize-input .label {
  vertical-align: middle;
  height: 14px;
  line-height: 13px;
  max-width: 200px;
  overflow: hidden;
  padding-right: 20px!important;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectize-input .label .removeValue {
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 2px;
  font-weight: normal;
}
.selectize-input .label + input[type="text"] {
  height: 16px;
  margin-left: 2px!important;
}
.taskList .heading img {
  max-width: 20px;
}
.prjDescription ul,
.taskDescription ul,
.prjDescription ol,
.taskDescription ol {
  margin: 10px 0 10px 25px;
}
.prjDescription ul li,
.taskDescription ul li,
.prjDescription ol li,
.taskDescription ol li {
  line-height: 20px;
  list-style-type: disc;
}
.prjDescription ol li,
.taskDescription ol li {
  list-style-type: decimal;
}
.editable-input .uiDropdownMenu li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editable-unsaved {
  font-weight: normal;
}
.selectize-input.replaceTextArea {
  width: 100%!important;
  height: auto;
}
.selectize-input.replaceTextArea input {
  height: 20px !important;
}
.selectize-input.replaceTextArea.locked {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.exo-mentions.loading .autocomplete-menu.loading {
  display: block;
}
.choose-time.all-day .timeSelector {
  visibility: hidden;
}
.inforBar2 > .pull-left {
  margin-right: 14px;
}
.inforBar2 .priority {
  margin-right: 0;
}
.rangeCalendar-container {
  min-width: 470px;
}
.title-task {
  margin-left: 20px;
}
.noMatch {
  padding: 5px 0;
}
.pull-right + .date-work-plan {
  margin: 0 28px 0 0 ;
}
.fieldWorkPlan > .pull-right .removeWorkPlan {
  margin-top: 4px;
}
.fieldWorkPlan .pull-right .removeWorkPlan {
  display: none;
}
.fieldWorkPlan:hover .pull-right .removeWorkPlan {
  display: block;
}
.date-work-plan .hoverStatus {
  margin-left: 20px;
}
.date-work-plan .uiIconPLFCalendar {
  margin-top: 8px;
}
.taskName .permalink.taskPermalink {
  margin-top: 6px;
}
.date-work-plan .popover-title {
  display: none;
}
.projectName {
  word-wrap: break-word;
}
.removeWorkPlan,
.controllDelete {
  padding: 0 2px;
}
.list-changes .date {
  font-size: 12px;
}
.commentBox .exo-mentions .autocomplete-menu li.msg {
  white-space: normal;
}
.inforBar2 + .uiTabPane {
  margin-top: 15px;
}
.nodeGroup li.node.collapsed > .childrenContainer {
  display: none;
}
.exo-mentions .replaceTextArea .groupMembership {
  display: inline-block;
  position: relative;
}
.exo-mentions .replaceTextArea .groupMembership > span {
  background: #e2eafa;
  border-radius: 3px;
  color: #215ab2;
  border: 1px solid #215ab2;
  padding: 1px 5px;
  display: inline-block;
}
.exo-mentions .replaceTextArea .cursorText input {
  display: inline;
  width: 3em;
  border: none;
  outline: none;
  box-shadow: none;
  margin-bottom: 0px;
  padding: 0;
}
.header-right .action-bar + .action-bar {
  margin-right: 2px;
}
.new-col {
  padding-left: 8px!important;
}
.taskBoardView {
  overflow-x: auto;
}
.taskBoardView .body.relative {
  min-width: 650px;
}
.taskBoardView .heading .label {
  vertical-align: 1px;
}
.taskBoardContainer {
  position: relative;
}
.taskBoardContainer .draggableHighlight {
  height: 1.5em;
  line-height: 1.2em;
  background: url("/eXoSkin/skin/images/themes/default/Container/DragAndDropPreview4x4.gif") repeat 0 0;
}
.taskBoardContainer .draggableFullContainer {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("/eXoSkin/skin/images/themes/default/Container/DragAndDropPreview4x4.gif") repeat 0 0;
}
.collapseSubProject {
  left: 10px;
  position: absolute;
  top: 5px;
}
.uiAccordion.leftPanel .accordion-heading .sub-item .project-name {
  padding-left: 30px;
}
.project-item.active > .sub-item .collapseSubProject .uiIconLightGray {
  background-image: url("/eXoSkin/skin/images/themes/default/Icons/uiIconsSecondary.png");
}
.taskBoardView .uiEditableInline.active .number-tasks,
.taskBoardView .uiEditableInline.active .actionRemoveStatus,
.taskBoardView .uiEditableInline.active .actionAddStatus {
  display: none!important;
}
.taskBoardView .table-project-collapse .caption-heading .col {
  padding: 10px 18px;
}
.taskBoardView .table-project-collapse .col-new .formCreateNewStatus {
  width: 78%;
}
.taskBoardView .table-project-collapse .col-new .actionRemoveStatus {
  display: block;
  margin-top: 3px;
}
.table-project .column-checkbox .status-task.block-hide {
  margin-left: 8px;
}
.breadcrumb .removeProject {
  display: inline;
  float: none;
}
.sharePrjDialog .table tr td {
  width: 50%;
}
