/* Reset*/
body .editable-click,
body a.editable-click,
body a.editable-click:hover {
  border: none;
}
input.grayLarge {
  font-size: 18px;
  height: 36px;
  width: 100%;
}
input.blackLarge {
  font-size: 18px;
  height: 36px;
  width: 100%;
}
input.grayNormal {
  font-size: 13px;
  height: 28px;
  width: 100%;
}
input.blackNormal {
  font-size: 13px;
  height: 28px;
  width: 100%;
}
select.selectboxMini {
  height: 30px;
  vertical-align: middle;
  width: 72px;
  margin: 0;
}
li[data-showhiddenproject="false"] li[data-hiddenproject="true"] {
  display: none;
}
li[data-showhiddenproject="false"] .label-hideHiddenProject {
  display: none;
}
li[data-showhiddenproject="false"] li.all-children-hided a.project-name > i {
  display: none;
}
li[data-showhiddenproject="true"] .label-showHiddenProject {
  display: none;
}
li[data-showhiddenproject="true"] .all-project-hidden {
  display: none;
}
li[data-hiddenproject="true"] a.project-name {
  opacity: 0.5;
}
li[data-hiddenproject="true"] > .sub-item .label-hide {
  display: none;
}
li[data-hiddenproject="false"] > .sub-item .label-show {
  display: none;
}
.not-all-project-hidden {
  display: none;
}
.empty-box {
  position: relative;
  text-align: center;
  padding-top: 100px!important;
  padding-bottom: 100px!important;
  min-height: 200px;
}
.empty-box .empty-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.empty-box .image {
  margin-bottom: 15px;
}
.empty-box .text-notify {
  font-size: 24px;
  line-height: 26px;
}
.empty-box .text-notify span {
  font-size: 18px;
  display: block;
}
.projectListView > .header {
  margin-bottom: 20px;
}
.projectListView .header {
  padding: 10px;
}
.projectListView .header .input-field {
  position: relative;
}
.projectListView .header .input-field .popover {
  left: 0!important;
  top: 43px!important;
}
.projectListView .header .input-field .popover .arrow {
  left: 50px;
}
.projectListView .header h2 {
  margin: 0 0 0 5px;
  font-size: 19px;
  line-height: 100%;
  padding-top: 5px;
}
.projectListView .uiContentBox {
  padding: 0;
}
.taskMngCont {
  margin: 20px;
}
/* Projects Area */
#taskManagement .centerPanel.uiBox .projectListView .title {
  padding: 4px 5px;
  line-height: 28px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .label-title {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput input[type="text"] {
  min-height: 28px;
  height: 28px;
  float: right;
  max-width: 210px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput .advancedSearch,
#taskManagement .centerPanel.uiBox .projectListView .title .uiSearchInput .AdvancedSearch {
  top: 1px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .settingActionButtons {
  margin-left: 5px;
}
#taskManagement .centerPanel.uiBox .projectListView .title .settingActionButtons .actionIcon {
  margin-top: 1px;
  float: left;
}
.table-project {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-project .row-item {
  display: table-row;
  cursor: pointer;
}
.table-project .row-item.heading {
  font-weight: bold;
}
.table-project .row-item.heading .column-item > * {
  vertical-align: middle;
}
.table-project .row-item.group {
  border-bottom: none;
}
.table-project .row-item.group > .column-item {
  padding: 0;
}
.table-project .row-item.group .table-project {
  margin-bottom: 30px;
}
.table-project .row-item .text-time {
  height: 26px;
  line-height: 26px;
}
.table-project .row-item:hover.group,
.table-project .row-item.selected.group {
  background: none;
}
.table-project .row-item.selected .column-title {
  font-weight: bold;
}
.table-project .row-group {
  display: table-row-group;
  margin-bottom: 30px;
}
.table-project .column-item {
  display: table-cell;
  padding: 4px;
  vertical-align: middle;
  position: relative;
}
.table-project .column-item .project-color {
  position: absolute;
  left: 1px;
  top: 0;
  bottom: 1px;
  width: 5px;
}
.table-project .column-item .labels {
  margin: 0 10px 0 0;
}
.table-project .column-item .labels .label {
  margin: 0;
}
.table-project .column-item:first-child {
  padding-left: 13px;
}
.table-project .column-item:last-child {
  padding-right: 8px;
}
.table-project .column-checkbox {
  width: 24px;
}
.table-project .column-checkbox .status-task {
  margin-left: 4px;
}
.table-project .column-time {
  text-align: right;
}
.table-project .column-action {
  width: 26px;
}
.table-project-collapse {
  margin-bottom: 30px;
}
.table-project-collapse .heading {
  padding: 4px 8px;
}
.table-project-collapse .heading .group-name {
  font-weight: bold;
}
.leftPanel .accordion-heading .popover {
  left: auto;
  right: -112px;
  max-width: 256px;
  top: 26px;
  width: 250px;
}
.leftPanel .accordion-heading .popover.bottom .arrow {
  left: 120px;
}
.centerPanel .uiHeaderBar .alignBtnGroup {
  margin: 0 auto;
  width: 200px;
}
.filter-form .btn.dropdown-toggle {
  padding-right: 10px;
}
.filter-form .action-bar {
  display: inline-block;
  margin-top: 2px;
  margin-left: 5px;
  vertical-align: middle;
}
.all-task .all-task-action-toggle a.active {
  font-weight: bold;
}
.all-task span {
  vertical-align: middle;
}
.all-task .all-task-action {
  display: none;
  text-align: left;
}
.editable-input textarea {
  width: 100%;
}
.input-field input {
  width: 100%;
  margin: 10px 0 0;
}
.advancedSearch-action {
  display: none;
}
.leftPanel,
.rightPanel {
  position: relative;
}
.leftPanel .resizeButton,
.rightPanel .resizeButton {
  cursor: pointer;
  height: 16px;
  right: -18px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}
.rightPanel .resizeButton {
  left: -18px;
  right: auto;
}
.rightPanel .addProject .breadcrumbCont,
.rightPanel .addProject .inputName,
.rightPanel .addProject .prjAuthor,
.rightPanel .addProject .prjDescription {
  margin: 0 0 10px;
}
.rightPanel .addProject .breadcrumbCont {
  position: relative;
}
.rightPanel .addProject .breadcrumbCont input {
  width: 100%;
}
.rightPanel .addProject .prjAuthor {
  padding: 0 10px;
  line-height: 30px;
}
.rightPanel .addProject .prjAuthor .avatarSmall {
  font-weight: bold;
}
.rightPanel .addProject .inputName {
  font-size: 18px;
  line-height: 26px;
}
.rightPanel .addProject .viewInCal {
  padding: 7px 28px;
}
.rightPanel .addTask .iconTaskName {
  margin: 5px 5px 0 0;
}
.rightPanel .addTask .breadcrumbCont {
  max-width: 225px;
}
.rightPanel .addTask .breadcrumbCont * {
  max-width: 225px;
}
.rightPanel .addTask .uiContentBox {
  padding-top: 8px;
}
.rightPanel .addTask .taskName {
  margin-top: 5px;
  font-size: 18px;
  line-height: 26px;
}
.rightPanel .addTask .taskName input.blackLarge {
  padding: 0 9px;
}
.rightPanel .addTask .inforBar1 .pull-left,
.rightPanel .addTask .taskDescription,
.rightPanel .addTask .inforBar2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.rightPanel .addTask .inforBar1 > div {
  margin-right: 12px;
}
.rightPanel .addTask .inforBar1 > div .toDo .editable-container.editable-inline {
  display: inline-block;
}
.rightPanel .addTask .inforBar1 > div:last-child {
  margin-right: 0;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover {
  min-width: 252px;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover.bottom .arrow {
  left: 13%;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline a {
  padding-left: 5px;
  margin: 10px 0 10px 2px;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .header.nav-inline a:first-child {
  margin-left: 0;
  padding-left: 0;
}
.rightPanel .addTask .inforBar1 .uiEditableInline .popover .popover-content .uiCalendarComponent hr {
  margin: 0;
}
.rightPanel .addTask .inforBar2 .priority .editable-container.editable-inline {
  display: inline-block;
}
.rightPanel .addTask .tags a {
  box-shadow: none;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea span {
  margin-right: 5px;
  line-height: 20px;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea span:last-child {
  margin-right: 0;
}
.rightPanel .taskAssignment .contBlock .exo-mentions .replaceTextArea.inactive {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  margin: 0;
}
.centerPanel .uiSearchInput.searchWithIcon {
  display: block;
}
.centerPanel.span5 .settingActionButtons .advancedSearch-action {
  display: inline-block;
}
.centerPanel.span5 .uiSearchInput {
  display: none;
}
.centerPanel.span5 .uiHeaderBar.toggle .uiSearchInput {
  display: block;
}
.centerPanel.span5 .uiHeaderBar.toggle .alignBtnGroup {
  float: left;
  width: auto;
}
.centerPanel.span5 .all-task-action-toggle {
  display: none;
}
.centerPanel.span5 .all-task-action {
  display: inline-block;
  margin-top: 2px;
}
#taskManagement .centerPanel.span5 .title .label-title {
  max-width: 130px;
}
#taskManagement .centerPanel.span9 .uiHeaderBar.toggle .label-title {
  display: block;
}
.uiHeaderBar.toggle .label-title,
.uiHeaderBar.toggle .action-search {
  display: none;
}
.uiHeaderBar.toggle .action-close {
  display: inline-block !important;
}
.table-project .column-item .actionIcon {
  padding: 0 2px;
  margin: 2px 0;
}
.table-project .column-item .actionIcon .uiIconArrowRight {
  background-position: -39px -120px;
}
.table-project .column-item .actionIcon .uiIconClock {
  background-position: -160px -81px;
}
.rightPanel .title .actionIconSmall {
  line-height: 10px;
}
.form-create-task {
  margin-left: 25px;
}
.form-create-task > input {
  opacity: 0.5;
}
.form-create-task > input:focus {
  opacity: 1;
}
.sharePrjDialog,
.modal8 {
  width: 800px;
  margin-left: -400px;
}
.sharePrjDialog .exo-mentions .autocomplete-menu,
.modal8 .exo-mentions .autocomplete-menu {
  margin-top: -1px;
}
.sharePrjDialog .table td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.action-mentions .exo-mentions {
  background: transparent;
  border-radius: 0;
}
.permission-owner .replaceTextArea {
  float: left;
  height: auto;
  vertical-align: top;
  width: 60%;
  padding: 5px;
  margin-right: 5px;
  min-height: 16px;
}
.permission-owner .replaceTextArea.open {
  overflow: visible;
}
.exo-mentions .replaceTextArea > span {
  margin: 2px 1px;
}
.exo-mentions .replaceTextArea > span i {
  cursor: pointer;
}
.list-users .item:last-child {
  margin-bottom: 0;
}
.userSelectorDialog .uiSearch {
  margin-top: 0;
}
.list-projects .no-project {
  padding: 6px 0px;
}
.column-item .dragable {
  width: 6px;
  height: 22px;
  background: url('../images/icons/dragable.png');
  left: 8px;
  cursor: move;
  position: absolute;
}
.commentList .commmentLeft + .commentRight {
  margin-left: 50px;
}
.commentList .commentRight .author .date {
  margin-left: 10px;
}
.commentList .commentItem {
  position: relative;
  margin: 10px 0 15px 0;
}
.commentList .commentFormBox {
  margin-bottom: 0;
}
.commentList .commentFormBox .exo-mentions {
  margin-bottom: 15px;
}
.commentList .contentComment {
  word-wrap: break-word;
}
.commentList .controllDelete {
  cursor: pointer;
  display: none;
  position: absolute;
  right: -5px;
  top: 0;
}
.commentList .commentItem:hover .controllDelete {
  display: block;
}
.commentList .author a {
  font-weight: bold;
  word-wrap: break-word;
}
.autocomplete-menu li {
  position: relative;
}
.autocomplete-menu .user-status {
  position: absolute;
  right: 7px;
  top: 7px;
}
.list-changes li + li {
  margin-top: 10px;
}
.done {
  text-decoration: line-through;
}
.labels,
.tags {
  margin: 5px 0;
}
.tags .label {
  margin: 2px 2px 2px 0;
}
[data-currentgroupby=""] [data-groupby=""] {
  display: none;
}
[data-currentgroupby="status"] [data-groupby="status"] {
  display: none;
}
[data-currentgroupby="assignee"] [data-groupby="assignee"] {
  display: none;
}
[data-currentgroupby="project"] [data-groupby="project"] {
  display: none;
}
[data-currentgroupby="tag"] [data-groupby="tag"] {
  display: none;
}
[data-currentorderby=""] [data-orderby=""] {
  display: none;
}
[data-currentorderby="title"] [data-orderby="title"] {
  display: none;
}
[data-currentorderby="priority"] [data-orderby="priority"] {
  display: none;
}
[data-currentorderby="dueDate"] [data-orderby="dueDate"] {
  display: none;
}
[data-currentorderby="createdTime"] [data-orderby="createdTime"] {
  display: none;
}
.exo-mentions .tags {
  margin: 0;
}
.editable-pre-wrapped {
  white-space: normal;
}
.editable-container.editable-inline,
.editable-input {
  display: block;
}
.selectize-input {
  padding: 0 4px;
}
.selectize-input.has-items {
  padding: 2px 4px;
}
.selectize-input .label {
  vertical-align: middle;
  height: 14px;
  line-height: 13px;
  max-width: 200px;
  overflow: hidden;
  padding-right: 20px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectize-input .label .removeValue {
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 2px;
  font-weight: normal;
}
.selectize-input input[type="text"] {
  margin-left: 10px!important;
}
.selectize-input .label + input[type="text"] {
  margin-left: 5px!important;
  height: 16px;
}
.prjDescription ul,
.taskDescription ul,
.prjDescription ol,
.taskDescription ol {
  margin: 10px 0 10px 25px;
}
.prjDescription ul li,
.taskDescription ul li,
.prjDescription ol li,
.taskDescription ol li {
  line-height: 20px;
  list-style-type: disc;
}
.prjDescription ol li,
.taskDescription ol li {
  list-style-type: decimal;
}
