.clearfix {clear: both}

.task-management h4 {
    background: #eee;
    padding: 5px;
}
#taskManagement .task {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: dotted 1px #ccc;
}
#taskManagement .task label {
    display: inline-block;
}
#taskManagement .task input[type="checkbox"],
#taskManagement .task span.tag
{
    visibility: hidden;
}
#taskManagement .task:hover {
    background: #F5F7FA;
}
#taskManagement .task input[type="checkbox"]:checked,
#taskManagement .task:hover input[type="checkbox"],
#taskManagement .task:hover span.tag
{
    visibility: visible;
}
.task-detail {
    padding-right: 7px;
}
.task-detail .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: solid 4px #666;
    background-color: #fff;
    cursor: pointer;
}
.task-detail .icon.icon-completed,
.task-detail .icon:hover {
    margin-top: 0px;
    background: #fff url("../images/completed.png") no-repeat top left;
}
.task-detail .icon.icon-completed {
    vertical-align: middle;
}
.task-detail .icon.icon-completed:hover {
    background-image: none;
}
.task-description .editable-inline,
.task-description .editable-input,
.task-description .editable-input textarea,
.task-description .editableform {
    width: 100%;
}
.editable[data-type="textarea"] {
    display: block;
    height: 72px;
    border: solid 1px #ccc;
    padding: 3px 10px;
    margin: 3px 0px 30px;
    border-radius: 3px;
}
.task-info-row {
    margin: 10px 0;
}

.editable-click, a.editable-click {
    display: inline-block;
    padding: 5px 20px 5px 5px;
    border: solid 1px transparent;
    color: #333;
}
a.editable-click:hover {
    border: solid 1px #ddd;
}
#taskCommentButton {
    margin-top: 10px;
}
.comment .comment-action {
    width: 16px;
}
.comment .action-link {
    visibility: hidden;
}
.comment:hover .action-link {
    visibility: visible;
}
.leftPanel ul.nav li a {
    border-radius: 0;
    margin: 0;
}
.leftPanel ul.left-menu.nav > li {
    margin: 3px 0;
}
.leftPanel ul.left-menu.nav > li > a {
    background: #eee;
}
.leftPanel ul.left-menu.nav li.dropdown > ul.dropdown-menu {
    top: 30px;
    left: calc(100% - 30px);
}
.leftPanel ul.left-menu.nav li.dropdown b.caret {
    float: right;
}
.leftPanel ul.list-projects.nav li.dropdown > a > b.caret {
    visibility: hidden;
}
.leftPanel ul.list-projects.nav li.dropdown:hover > a > b.caret {
    visibility: visible;
}
.leftPanel ul.left-menu.nav > li.active a {
    background: #0088cc;
}
.leftPanel ul.left-menu.nav > li > ul.list-projects {
    margin: 0;
}
.leftPanel ul.left-menu.nav > li > ul.list-projects > li > a {
    padding-left: 5px;
    margin: 0;
}
.project-description .editable-inline,
.project-description .editable-input,
.project-description .editable-input textarea,
.project-description .editableform {
    width: 100%;
}


.projectListView .header {
    padding: 10px;
    .input-field {
        position: relative;
        .popover  {
             left: 0;
             top: 43px;
             .arrow {
                left: 12%;
             }
        }
    }
}
.projectListView > .header {
    margin-bottom: 20px;
}
.projectListView .header h2 {
    margin: 0 0 0 5px;
    font-size: 19px;
    line-height: 100%;
    padding-top: 5px;
}

.projectListView .input-block-level,
.projectListView .input-block-level:focus {
    border: none;
    border-bottom: solid 1px #ccc;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.form-search.relative {
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
}
.form-search.relative .uiIconEcmsSearchMini {
    position: absolute;
    left: 8px;
    top: 8px;
}
.form-search.relative input[type="text"] {
    padding-left: 25px;
}

.taskMngCont {
	margin: 20px;
}

/* Projects Area */
#taskManagement {
    .centerPanel.uiBox {
        .title {
            padding: 5px;
            line-height: 28px;
            .label-title {
                font-size: 18px;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 10px;
                  max-width: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .uiSearchInput input[type="text"] {
                min-height: 28px;
                height: 28px;
                float: right;
                max-width: 210px;
            }
            .uiSearchInput .advancedSearch,
            .uiSearchInput .AdvancedSearch {
                top: 1px;
            }
            .settingActionButtons {
                margin-left: 5px;
                .actionIcon {
                    margin-top: 1px;
                    float: left;
                }
            }
        }
    }
}

.table-project{
    display: table;
    width: 100%;
    .row-item {
        display: table-row;
        cursor: pointer;
        &.heading {
            font-weight: bold;
            .column-item {
                > * {
                    vertical-align: middle;
                }
            }
        }
        &.group {
            border-bottom: none;
            > .column-item {
                padding: 0;
            }
            .table-project {
                margin-bottom: 30px;
            }
        }
        .text-time {
            height: 26px;
            line-height: 26px;
        }
        &:hover,&.selected {
            &.group {
                background: none;
            }
        }
        &.selected {
            .column-title {
                font-weight: bold;
            }
        }
    }
    .row-group {
        display: table-row-group;
        margin-bottom: 30px;
    }
    .column-item {
        display: table-cell;
        padding: 4px;
        vertical-align: middle;
        position: relative;
        .project-color {
            position: absolute;
            left: 1px;
            top: 0;
            bottom: 1px;
            width: 5px;
        }
        &:first-child{
            padding-left: 13px;
        }
        &:last-child{
            padding-right: 8px;
        }
    }
    .column-checkbox {
        width: 24px;
        .status-task {
            margin-left: 4px;
        }
    }
    .column-time {
        text-align: right;
    }
    .column-action {
        width: 26px;
    }
}

// Icomming

.leftPanel {
  .accordion-heading {
    .popover {
      left: 178px;
      max-width: 256px;
      top: 26px;
      width: 250px
    }
    .popover.bottom .arrow {
        left: 18%;
    }
  }
}
.centerPanel{
  .uiHeaderBar {
      .alignBtnGroup {
        margin: 0 auto;
        width:200px;
      }
  }
}

.filter-form  {
  text-align: right;
  label {
    margin: 0 5px 0 28px;
    vertical-align: middle;
  }
  select {
    vertical-align: middle;
  }
}

.input-field {
  input {
    width: 100%;
    margin: 10px 0 0;
  }
}
// responsive center panel

.advancedSearch-action {
    display: none;
}

.centerPanel {
    .uiSearchInput.searchWithIcon {
        display: block;
    }
    &.span5 {
        .settingActionButtons {
             .advancedSearch-action  {
                display: inline-block;
            }
        }
        .uiSearchInput   {
            display: none;
        }
        .uiHeaderBar.toggle {
             .uiSearchInput{
                display: block;
             }
            .alignBtnGroup  {
                float: left;
                width: auto;
            }
        }
    }
}

#taskManagement .centerPanel.span5 .title .label-title {
    max-width: 130px;

}

#taskManagement .centerPanel.span9 {
    .uiHeaderBar.toggle {
        .label-title  {
            display: block;
        }
    }
}

.uiHeaderBar.toggle {
   .label-title , .action-search  {
        display: none;
    }
    .action-close {
        display: inline-block!important;
    }
}

.table-project {
    .column-item {
        .actionIcon {            
           padding: 0 2px;
           margin: 2px 0;
           .uiIconArrowRight {
            background-position: -39px -120px;
           }
           .uiIconClock {
                background-position: -160px -81px;
            }
        }
    }
}