@import "_mixins.less";
/* Reset*/
body {
   .editable-click, a.editable-click, a.editable-click:hover{
       border:  none;
    } 
}

input.grayLarge {
    font-size: 18px;
    height: 36px;
    width: 100%;
}

input.blackLarge {
    font-size: 18px;
    height: 36px;
    width: 100%;
}

input.grayNormal {
    font-size: 13px;
    height: 28px;
    width: 100%;
}

input.blackNormal {
    font-size: 13px;
    height: 28px;
    width: 100%;
}

select.selectboxMini {
    height: 30px;
    vertical-align: middle;
    width: 72px;
    margin: 0;
}

li[data-showhiddenproject="false"] {
  li[data-hiddenproject="true"] {
    display: none;
  }
  .label-hideHiddenProject {
    display: none;
  }
  li.all-children-hided {
    a.project-name > i {
      display: none;
    }
  }
}
li[data-showhiddenproject="true"] {
  .label-showHiddenProject {
    display: none;
  }
  .all-project-hidden {
    display: none;
  }
}
li[data-hiddenproject="true"] {
  a.project-name {
    opacity: 0.5;
  }
  > .sub-item {
    .label-hide {
      display: none;
    }
  }
}
li[data-hiddenproject="false"] {
  > .sub-item {
    .label-show {
      display: none;
    }
  }
}
.not-all-project-hidden {
  display: none;
}

.empty-box {
    position: relative;
    text-align: center;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    min-height: 200px;
    .empty-content {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .image {
        margin-bottom: 15px;
    }
    .text-notify {
        font-size: 24px;
        line-height: 26px;
        span {
            font-size: 18px;
            display: block;
        }
    }
}
.projectListView {
    > .header {
        margin-bottom: 20px;
    }
    .header {
        padding: 10px;
        .input-field {
            position: relative;
            .popover  {
                 left: 0!important;
                 top: 43px!important;
                 .arrow {
                    left: 50px;
                 }
            }
        }
        h2 {
            margin: 0 0 0 5px;
            font-size: 19px;
            line-height: 100%;
            padding-top: 5px;
        }
    }
    .uiContentBox {
        padding: 0;
    }
}


.taskMngCont {
	margin: 20px;
}

/* Projects Area */
#taskManagement {
    .centerPanel.uiBox .projectListView {
        .title {
            padding:4px 5px;
            line-height: 28px;
            .label-title {
                font-size: 18px;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 10px;
                  max-width: 170px;
                .text-overflow();
            }
            .uiSearchInput input[type="text"] {
                min-height: 28px;
                height: 28px;
                float: right;
                max-width: 210px;
            }
            .uiSearchInput .advancedSearch,
            .uiSearchInput .AdvancedSearch {
                top: 1px;
            }
            .settingActionButtons {
                margin-left: 5px;
                .actionIcon {
                    margin-top: 1px;
                    float: left;
                }
            }
        }
    }
}

.table-project{
    display: table;
    width: 100%;
    table-layout: fixed;
    .row-item {
        display: table-row;
        cursor: pointer;
        &.heading {
            font-weight: bold;
            .column-item {
                > * {
                    vertical-align: middle;
                }
            }
        }
        &.group {
            border-bottom: none;
            > .column-item {
                padding: 0;
            }
            .table-project {
                margin-bottom: 30px;
            }
        }
        .text-time {
            height: 26px;
            line-height: 26px;
        }
        &:hover,&.selected {
            &.group {
                background: none;
            }
        }
        &.selected {
            .column-title {
                font-weight: bold;
            }
        }
        .column-title {
             font-weight: bold;
            .text-overflow();
        }
    }
    .row-group {
        display: table-row-group;
        margin-bottom: 30px;
    }
    .column-item {
        display: table-cell;
        padding: 4px;
        vertical-align: middle;
        position: relative;
        .project-color {
            position: absolute;
            left: 1px;
            top: 0;
            bottom: 1px;
            width: 5px;
        }
         .labels {
            margin: 0 10px 0 0;
            .label {
                margin: 0;
            }
        }   
        &:first-child{
            padding-left: 13px;
        }
        &:last-child{
            padding-right: 8px;
        }
    }
    .column-checkbox {
        width: 24px;
        .status-task {
            margin-left: 4px;
        }
    }
    .column-time {
        text-align: right;
    }
    .column-action {
        width: 26px;
    }
}

.table-project-collapse {
    margin-bottom: 30px;
    .heading {
        padding: 4px 8px;
        .group-name {
            font-weight: bold;
        }
    }
}

// Icomming

.leftPanel {
  .accordion-heading {
    .popover {
      left: auto;
       right: -112px;
      max-width: 256px;
      top: 26px;
      width: 250px
    }
    .popover.bottom .arrow {
        left: 120px;
    }
  }
}
.centerPanel{
  .uiHeaderBar {
      .alignBtnGroup {
        margin: 0 auto;
        width:200px;
      }
  }
}

.filter-form  {

     .btn.dropdown-toggle {
        padding-right: 10px;
     }
     .action-bar {
        display: inline-block;
        margin-top: 2px; margin-left: 5px;
        vertical-align: middle;
    }
}

.all-task {
   .all-task-action-toggle a.active {
        font-weight: bold;
    }
    span {
        vertical-align: middle;
    }
    .all-task-action {
        display: none;
        text-align: left;
    }
}
.editable-input  {
    textarea {
        width: 100%;
    }
}
.input-field {
  input {
    width: 100%;
    margin: 10px 0 0;
  }
}
// responsive center panel

.advancedSearch-action {
    display: none;
}
.leftPanel,.rightPanel  {
     position: relative;
     .resizeButton {
        cursor: pointer;
        height: 16px;
        right: -18px;
        margin-top: -8px;
        position: absolute;
        top: 50%;

    }
}
.rightPanel{
    .resizeButton {
        left: -18px;
        right: auto;
    }
    .addProject {
        .breadcrumbCont, .inputName, .prjAuthor, .prjDescription {
            margin: 0 0 10px;  
        }
        .breadcrumbCont {
            position: relative;
            input {
                width: 100%;
            }
        }
        .prjAuthor { 
            padding: 0 10px;
            line-height: 30px; 
            .avatarSmall {
                font-weight: bold;
            }
        } 
        
        .inputName {
            font-size: 18px;
            line-height: 26px;
        }
        .viewInCal {
            padding: 7px 28px;
        }
    }
    .addTask {
        .iconTaskName {
            margin: 5px 5px 0 0;
        }
        .breadcrumbCont {
            max-width: 225px;
            * {
               max-width: 225px; 
            }
        }
        .uiContentBox {
            padding-top: 8px;
        }
        .taskName {
            margin-top: 5px;
            .projectName {
                font-size: 18px;
                line-height: 26px;
                max-width: 245px;
            }
            span.uiCheckbox {
                margin-left: 2px;
                margin-right: 0;
                margin-top: 10px;
                vertical-align: top;

                span {
                    width: 0;
                    top: 6px;
                }
            }
            .editable-container.editable-inline {
                display: inline-block;
            }
            input.blackLarge {
                padding: 0 4px;
            }
            .parmalink {
                margin-top: 5px;
                i {
                    vertical-align: middle;
                }
            }
        }
        .inforBar1 .pull-left, .taskDescription, .inforBar2 {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .inforBar1 {
            > div {
                margin-right: 12px; 
                .toDo .editable-container.editable-inline {
                    display: inline-block;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            .uiEditableInline .popover {
                &.bottom .arrow {
                    left: 13%;
                }
                min-width: 252px;
                .popover-content {
                    .header {
                        &.nav-inline {
                            a {
                                padding-left: 5px;
                                margin:10px 0 10px 2px;
                            }
                            a:first-child {
                                margin-left: 0;padding-left: 0;
                            }
                        }
                    }
                    .uiCalendarComponent hr {
                        margin: 0;
                    }
                }
            }
        }
        
        .inforBar2 .priority .editable-container.editable-inline {
            display: inline-block;
        }
        .tags {
            a {
                box-shadow: none;
            }
            > .icon-hash {
                margin-top: 4px;
                margin-right: 6px;
            }
            &.active {
                .icon-hash {
                    display: none;
                }
            }
        }
    } 
    .taskAssignment .contBlock .exo-mentions .replaceTextArea {
        span {
            margin-right: 5px;
            line-height: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        &.inactive {
            background: transparent none repeat scroll 0 0;
            border: medium none;
            box-shadow: none;
            margin: 0;
        }

    }
}  
.centerPanel {
    .uiSearchInput.searchWithIcon {
        display: block;
    }
    &.span5 {
        .settingActionButtons {
             .advancedSearch-action  {
                display: inline-block;
            }
        }
        .uiSearchInput   {
            display: none;
        }
        .uiHeaderBar.toggle {
             .uiSearchInput{
                display: block;
             }
            .alignBtnGroup  {
                float: left;
                width: auto;
            }
        }
        .all-task-action-toggle {
            display: none;
        }
        .all-task-action {
            display: inline-block;
            margin-top: 2px;
        }
    }
}

#taskManagement .centerPanel.span5 .title .label-title {
    max-width: 130px;

}

#taskManagement .centerPanel.span9 {
    .uiHeaderBar.toggle {
        .label-title  {
            display: block;
        }
    }
}

.uiHeaderBar.toggle {
   .label-title , .action-search  {
        display: none;
    }
    .action-close {
        display: inline-block!important;
    }
}

.table-project {
    .column-item {
        .actionIcon {
           padding: 0 2px;
           margin: 2px 0;
           .uiIconArrowRight {
            background-position: -39px -120px;
           }
           .uiIconClock {
                background-position: -160px -81px;
            }
        }
    }
}

.rightPanel  {
    .title {
        .actionIconSmall {
            line-height: 10px;
        }
    }
}

.form-create-task {
    margin-left: 25px;
    > input {
        opacity: 0.5;
        &:focus {
         opacity: 1;
        }
    }
}

//share project


.sharePrjDialog ,.modal8{
    width: 800px;
    margin-left: -400px;
    .exo-mentions .autocomplete-menu {
        margin-top: -1px;
    }
}

.sharePrjDialog {
    .table td {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.action-mentions {
    .exo-mentions {
        background: transparent;
        border-radius:0;
    }
}
.permission-owner {
    .replaceTextArea {
        float: left;
        height: auto;
        vertical-align: top;
        width: 60%;
        padding:5px;
         margin-right: 5px;
         min-height: 16px;
        &.open {
            overflow: visible;
        }
    }
}

.exo-mentions .replaceTextArea > span {
    margin: 2px 1px;
    i {
        cursor: pointer;
    }
}

.list-users .item:last-child {
    margin-bottom: 0;
}

.userSelectorDialog  {
    .uiSearch  {
        margin-top:0;
    }
}

.list-projects .no-project {
    padding: 6px 0px;
}
.column-item {
    .dragable {
        width: 6px;
        height: 22px;
        background: url('../images/icons/dragable.png');
        left: 8px;cursor: move;
        position: absolute;
    }
}

//comment section
.commentList {
    .commmentLeft + .commentRight {
        margin-left: 50px;
    }
    .commentRight {
         .author .date{
            margin-left: 10px;
        }
    }
    .commentItem {
        position: relative;
        margin: 10px 0 15px 0;
    }
    .commentFormBox {
        margin-bottom: 0;
        .exo-mentions {
            margin-bottom: 15px;
        }
    }
    .contentComment {        
        word-wrap: break-word;
    }
    .controllDelete {
          cursor: pointer;
        display: none;
        position: absolute;
        right: -5px;
        top: 0;
    }
     .commentItem:hover .controllDelete {
        display: block;
    }
    .author a{
        font-weight: bold;
        word-wrap: break-word;
    }
}

.autocomplete-menu {
    li {
        position: relative;
    }
    .user-status {
        position: absolute;
        right: 7px;
        top: 7px;
    }
}

.list-changes li + li {
    margin-top: 10px;
}

.done {
    text-decoration: line-through;
}

.labels , .tags {
    margin: 5px 0;
   
}

.tags .label   {
    margin:2px 4px 2px 0;
}

[data-currentgroupby=""] [data-groupby=""] {
  display: none;
}
[data-currentgroupby="status"] [data-groupby="status"] {
  display: none;
}
[data-currentgroupby="assignee"] [data-groupby="assignee"] {
  display: none;
}
[data-currentgroupby="project"] [data-groupby="project"] {
  display: none;
}
[data-currentgroupby="tag"] [data-groupby="tag"] {
  display: none;
}

[data-currentorderby=""] [data-orderby=""] {
  display: none;
}
[data-currentorderby="title"] [data-orderby="title"] {
  display: none;
}
[data-currentorderby="priority"] [data-orderby="priority"] {
  display: none;
}
[data-currentorderby="dueDate"] [data-orderby="dueDate"] {
  display: none;
}
[data-currentorderby="createdTime"] [data-orderby="createdTime"] {
  display: none;
}

.exo-mentions .tags{
    margin: 0;
}

.editable-pre-wrapped {
    white-space: normal;
}
.editable-container.editable-inline ,.editable-input{
    display: block;
}
.selectize-input {
    padding: 0 4px;
    &.has-items {
         padding: 2px 4px;
    }
    .label {
        vertical-align: middle;
        height: 14px;
        line-height: 13px;
        max-width: 200px;
        overflow: hidden;
        padding-right: 20px!important;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        .removeValue {
           font-size: 11px;
            position: absolute;
            right: 5px;
            top: 2px;
            font-weight: normal;
        }
    }
    .label + input[type="text"] {
       margin-left: 5px!important;
       height: 16px;
    }
}

.prjDescription,
.taskDescription {
    ul,ol {
        margin: 10px 0 10px 25px;
        li {
            line-height: 20px;
            list-style-type: disc;
        }
    }
    ol li {
        list-style-type: decimal;
    }
}

.editable-input {
    .uiDropdownMenu li > a {
        .text-overflow();
    }
}
.editable-unsaved {
    font-weight: normal;
}


.selectize-input.replaceTextArea {
     width: 100%!important;
     height: auto;
     input {
        height: 20px !important;
     }
     &.locked {
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
     }
}
.tags.uiEditableInline {
    .hoverStatus.small {
        padding: 2px 5px;
    }
}

.exo-mentions.loading {
    .autocomplete-menu.loading {
        display: block;
    }
}