@import "variables.less";
@import "mixins.less";

@taskCardMaxHeight: 250px;
@taskCardParentMargin: 22px;
@taskCardParentMaxHeight: @taskCardParentMargin + @taskCardMaxHeight;

/*----------------------Tasks Management ---------------------*/
#TasksParentContainer {
  margin: 25px;
  #TasksManagementPortlet {
    .tasksMenuParent {
      margin-bottom: 10px;
    }
    .projectAndTasksContainer {
      .tasksToolbar {
        .inputTasksFilter {
          max-width: 250px;
        }
        .selectTasksFilter {
          height: 40px;
          width: auto;
          padding-right: 20px;
        }
      }
      .tasksListContainer {
        .projectItem {
          position: relative;
          .taskCardFlip {
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
            min-height: @taskCardParentMaxHeight;
            padding: 0;
            .taskCardFront {
              z-index: 2;
              transform: rotateY(0deg);
              backface-visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
              height: @taskCardMaxHeight;
              max-height: @taskCardMaxHeight;
              width: 100%;
              max-width: 100%;
              .tasksCardItem {
                height: @taskCardMaxHeight;
                max-height: @taskCardMaxHeight;
                flex-direction: column;
                .taskItemToolbar {
                  .uiIconInformation {
                    font-size: 20px;
                  }
                  .uiIconVerticalDots {
                    font-size: 16px;
                  }
                }
                .noProjectColor {
                  background: @lightGrey;
                  .toolbarNoColor {
                    color: @baseColorLight;
                  }
                }
                .taskItemInfo {
                  .taskItemDescription {
                    min-height: 75px;
                    p {
                      margin-bottom: 0;
                    }
                    .noProjectDescription {
                      color: @greyColorLighten1;
                    }
                  }
                  .ProjectSpace {
                    .v-list-item {
                      min-height: 38px!important;
                      .noSpaceProjectIcon {
                        height: 28px;
                        min-width: 28px;
                        width: 28px;
                        background: @greyColor;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      }
                      .noSpaceLabel {
                        color: @greyColorLighten1;
                      }
                    }
                  }
                  .SpaceAdmin {
                    .v-list-item {
                      min-height: 38px!important;
                      .uiIconStar {
                        &:before {
                          content: "\e97d";
                          font-family: "PLF-FONT-ICONS" !important;
                          color: @colorIconOrange;
                          font-style: normal;
                          font-size: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .tasksCardBack {
              transform: rotateY(180deg);
              backface-visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
              height: @taskCardMaxHeight;
              max-height: @taskCardMaxHeight;
              width: 100%;
              max-width: 100%;
              .tasksCardItem {
                height: @taskCardMaxHeight;
                max-height: @taskCardMaxHeight;
                flex-direction: column;
                .projectDetailsReverse {
                  position: relative;
                  .reverseInfoIcon {
                    position: absolute;
                    top: 12px;
                  }
                }
              }
            }
          }
          .taskCardFlipped {
            transform: rotateY(180deg);
          }
          .projectActionMenu {
            right: 27px;
            left: auto!important;
            top: 45px!important;
            .v-list-item {
              min-height: 30px!important;
              .uiIcon {
                font-size: 16px;
              }
              .noColorLabel {
                border: 1px solid @borderColor;
                cursor: pointer;
              }
              .projectColorPicker {
                width: 144px;
                max-width: 144px;
                .projectColorCell {
                  width: 20px;
                  height: 20px;
                  min-width: 20px;
                  min-height: 20px;
                  margin: 2px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    #tasksListApplication {
      #tasksList {
        .tasksListItem {
          background-color: @tableBackgroundAccent;
          border: 1px solid @tableBorder;
          border-radius: 4px;
          .taskCheckBox {
            max-width: 4%;
            width: 4%;
          }
          .taskTitle {
            width: 25%;
            max-width: 25%;
            text-align: left;
            flex: 1 1 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .taskProject {
            max-width: 15%;
            width: 15%;
            text-align: left;
            .taskProjectName {
              flex: 1 1 auto;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              max-width: 160px;
            }
            .noProjectColor {
              background: transparent!important;
              border: 2px solid @baseColorLight;
              color: @baseColorLight;
            }
            .beige {
              background: transparent!important;
              border: 2px solid #FFE1BE;
              color: #FFE1BE;
            }
            .asparagus {
              background: transparent!important;
              border: 2px solid #909958;
              color: #909958;
            }
            .laurel_green {
              background: transparent!important;
              border: 2px solid #BED67E;
              color: #BED67E;
            }
            .moss_green {
              background: transparent!important;
              border: 2px solid #98CC81;
              color: #98CC81;
            }
            .munsell_blue {
              background: transparent!important;
              border: 2px solid #319AB3;
              color: #319AB3;
            }
            .sky_blue {
              background: transparent!important;
              border: 2px solid #4DBED9;
              color: #4DBED9;
            }
            .powder_blue {
              background: transparent!important;
              border: 2px solid #9EE4F5;
              color: #9EE4F5;
            }
            .baby_blue {
              background: transparent!important;
              border: 2px solid #B2E2FF;
              color: #B2E2FF;
            }
            .navy_blue {
              background: transparent!important;
              border: 2px solid #4273C8;
              color: #4273C8;
            }
            .blue_gray {
              background: transparent!important;
              border: 2px solid #8EB0EA;
              color: #8EB0EA;
            }
            .light_blue {
              background: transparent!important;
              border: 2px solid #B3CFFF;
              color: #B3CFFF;
            }
            .light_gray {
              background: transparent!important;
              border: 2px solid #CDCDCD;
              color: #CDCDCD;
            }
            .purple {
              background: transparent!important;
              border: 2px solid #774EA9;
              color: #774EA9;
            }
            .light_purple {
              background: transparent!important;
              border: 2px solid #BC99E7;
              color: #BC99E7;
            }
            .pink {
              background: transparent!important;
              border: 2px solid #FFC8F0;
              color: #FFC8F0;
            }
            .hot_pink {
              background: transparent!important;
              border: 2px solid #F97575;
              color: #F97575;
            }
            .Orange {
              background: transparent!important;
              border: 2px solid #FFA500;
              color: #FFA500;
            }
            .light_brown {
              background: transparent!important;
              border: 2px solid #C5B294;
              color: #C5B294;
            }
            .gray {
              background: transparent!important;
              border: 2px solid #A39594;
              color: #A39594;
            }
            .plum {
              background: transparent!important;
              border: 2px solid #CEA6AC;
              color: #CEA6AC;
            }
          }
          .taskAssignee {
            max-width: 10%;
            width: 10%;
            text-align: center;
          }
          .taskLabels {
            max-width: 10%;
            width: 10%;
            text-align: center;
            .labelText {
              background: @greyColor;
              padding: 2px 4px;
            }
            .noLabelText {
              color: @greyColorLighten1;
            }
          }
          .taskActions {
            max-width: 12%;
            width: 12%;
            text-align: center;
          }
          .taskStat {
            max-width: 12%;
            width: 12%;
            text-align: left;
            .uiBatteryHalfIcon {
              &:before {
                content: "\e9b2";
                font-family: "PLF-FONT-ICONS" !important;
                color: @header-popup-title;
                font-style: normal;
                font-size: 22px;
              }
            }
            .taskStatLabel {

            }
          }
          .taskDueDate {
            max-width: 12%;
            width: 12%;
            text-align: right;
          }
        }
      }
    }
  }
}

/*--------------------------Tasks ---------------------------*/

#tasks {
  .flexCard {
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .projectCard {
    border-radius: 5px 0px 0px 5px;
  }

  .flagCard {
    border-radius: 0px 5px 5px 0px;
  }
  .color-title {
    color: @greyColorLighten1;
  }
  .taskTitle {
    color: black;
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .iconlarge {
    font-size: 40px;
    color:@successColorLight;
  }
  .noTasks {
    display: flex;
    height: 370px;
    align-items: center;
    justify-content: center;
    .noTasksContent {
      text-align: center;
      margin: auto;
      .uiNoTaskIcon {
        color: #6d7d9821;
        font-size: 60px;
        font-style: normal;
        font-weight: normal;
        &:before {
          font-family: 'PLF-FONT-ICONS';
          content: "\e690" !important;
        }
      }
      .noTasksTitle {
        color: #4d5466;
        font-weight: normal;
        font-size: 22px;
      }
      p {
        font-weight: normal;
        font-size: 15px;
        color: @greyColorLighten1;
      }
    }
  }

  @media (max-width: 1200px) {
    .theme--light.v-navigation-drawer {
      width: 60% !important;
    }
  }
  @media (max-width: 599px) {
    .theme--light.v-navigation-drawer {
      width: 100% !important;
    }
  }

  .list-item {
    display: flex;
    width: 100%;
    margin-right: 10px;
    min-height: 48px!important;
  }
  .list-leave-active {
    transition: all 1s;
  }
  .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}

/*----------- Task Drawer CSS ---------------*/
#task-Drawer {
  .uiIconBlue {
    color: @primaryColor!important;
  }
  .v-select__selection {
    max-width: 100% !important;
  }
  .v-menu__content {
    max-width: 100% !important;
    background-color: white!important;
  }
  #assigneeMenu {
    .v-menu__content {
      max-width: 70% !important;
    }
  }
  .v-select.v-text-field {
    input {
      display: none;
    }
  }
  .centered-input {
    input {
      text-align: center;
    }
  }
  .taskTitle {
    input[type="text"] {
      font-size: 15px;
      color: #8EB0EA;
    }
  }
  .dateFont {
    input[type="text"] {
      font-size: 15px!important;
      cursor: pointer!important;
      color: @textColor !important;
      width: 84px;
    }
    input[type="text"]::placeholder {
      color: @greyColorLighten1 !important;
      padding-left: 8px;
    }
    .v-icon.v-icon.v-icon--link {
      color: @greyColorLighten1;
      padding-top: 8px;
      font-size: 20px;
    }
  }
  .assignTo {
    .v-select__slot {
      border: 1px solid @greyColorLighten1;
      border-radius: 5px;
    }
  }
  .assignee-name {
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .v-date-picker-table--date {
    td {
      width: 38px;
    }
    tr {
      display: table-row !important;
    }
  }

  .v-date-picker-table {
    height: 190px;
  }
  .selectFont {
    .v-select__selection--comma {
      font-size: 15px;
      color: @textColor !important;
      min-width: max-content!important;
    }
    .v-menu__content {
      top: 48px!important;
      left: 4px!important;
      max-width: fit-content!important;
    }
    .v-list-item__title {
      font-size: 14px;
    }
  }
  .user-name {
    font-size: 15px;
    color: @primaryColor !important;
  }
  .v-autocomplete {
    &:not(.v-input--is-disabled).v-select.v-text-field {
      input {
        display: block !important;
      }
    }
  }
  .v-text-field.v-text-field--solo {
    .v-label {
      top: 10px;
      font-size: 15px!important;
      color: @greyColorLighten1 !important;
      margin-left: 6px;
    }
  }
  .mx-icon-calendar {
    display: none;
  }
  .mx-datepicker {
    width: 82%;
  }
  .mx-input {
    width: 92% !important;
    color: @greyColorLighten1;
    cursor: pointer;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  #Task-title {
    color: @primaryColor;
  }
  .projectName {
    .v-input__control {
      min-height: 0px;
      height: 40px;
      padding-top: 6px;
      >.v-input__slot {
        width: fit-content;
      }
    }
  }
  .v-navigation-drawer .v-list {
    background-color: white;
  }
  .mdi-menu-down {
    &::before {
      display: none;
    }
  }
  .v-text-field.v-text-field--solo {
    &:not(.v-text-field--solo-flat) {
      >.v-input__control {
        >.v-input__slot {
          box-shadow: none;
          padding-left: 0px;
        }
      }
    }
  }
  .styleIcon {
    padding-top: 10px
  }
  .v-input--selection-controls {
    margin-top: 0px !important;
  }
  .v-text-field.v-text-field--enclosed {
    >.v-input__control {
      >.v-input__slot {
        padding: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .editorContent {
    .subComment {
      max-width: 228px
    }
    .comment {
      max-width: 290px
    }
  }
  .hiddenEditor {
    visibility: hidden !important;
    display: none !important;
  }

  .taskDescription {
    border: 1px solid @greyColor;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px
  }
  #taskDescriptionId p {
    line-height: 20px;
  }
  [contenteditable=true] {
    &:empty {
      &:before {
        content: attr(placeholder);
        pointer-events: none;
        display: block;
        color: @greyColorLighten1!important;
      }
    }
  }

  .uiIconAndroidOpen:before {
    font-family: 'PLF-FONT-ICONS';
    font-style: normal;
    font-size: 20px;
    content: "\e966"
  }
  .drawer-title {
    font-size: 20px;
    font-weight: bold;
  }
  .drawer-header {
    border-bottom: 1px solid rgba(13, 13, 13, 0.05);
  }
  .drawer-content {
    position: absolute;
    top: 55px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    left: 0;
  }
  .v-text-field input {
    padding: 0px;
  }
  input[type="text"] {
    margin-bottom: 0px;
    width: auto;
  }
  .v-tab {
    box-sizing: border-box;
    margin: 0px!important;
  }
  .v-tabs-slider-wrapper {
    height: 3px !important;
  }
  .uiIconClock:before {
    font-size: 15px;
    color: @primaryColor;
  }
  .custom-placeholer-color {
    input {
      &::placeholder {
        color: @greyColorLighten1 !important;
        opacity: 1;
      }
    }
  }
  .theme--light.v-tabs {
    >.v-tabs-bar {
      .v-tab {
        &:not(.v-tab--active) {
          color: @greyColorLighten1;
        }
      }
    }
  }
  .ck.ck-content {
    ul {
      list-style-type: inherit;
      li {
        list-style-type: inherit;
      }
    }
  }

  .v-avatar {
    align-self: flex-start!important;
  }
  .v-btn:not(.v-btn--round).v-size--small {
    flex: none;
  }
  #reply_btn {
    padding: 0px !important;
    display: -webkit-box;
  }

  .commentBtn {
    color: @primaryColor !important;
    background-color: @primaryColor !important;

    .v-btn__content {
      color: white;
    }
  }
  #check_btn {
    color: @primaryColor!important;
  }
  .v-input {
    display: inline-flex;
  }
  .task-name {
    width: 90%;
    input[type="text"]::placeholder {
      color: @greyColorLighten1 !important;
    }
    &.taskCompleted{
      text-decoration: line-through;
    }
  }
  #task-name {
    border: none!important;
    color: @primaryColor !important;
    resize: none!important;
    .textarea:active {
      box-shadow: none;
    }
  }
  .theme--light.v-text-field {
    >.v-input__control {
      >.v-input__slot {
        &:before {
          display: none;
        }
      }
    }
  }
  .theme--dark.v-btn.v-btn--disabled {
    &:not(.v-btn--flat) {
      &:not(.v-btn--text) {
        &:not(.v-btn--outlined) {
          background-color: @btnPrimaryDisableBackground !important;
          border-color: @btnPrimaryDisableBackground !important;
        }
      }
    }
  }

  .taskContentComment {
    line-height: 20px;
    word-break: break-word;
    max-width: 300px;

    p {
      margin: 0px;
    }
  }
  .dateTime {
    color: #999;
    cursor: default;
  }
  .dueDateAlert {
    .v-alert__content {
      color: #8f5804;
      font-size: 14px;
    }
    .v-alert__wrapper {
      .v-icon {
        font-size: 18px;
      }
      .v-icon::before {
        color: #8f5804!important;
      }
    }
  }
   .dueDateError {
    .v-alert__content {
      font-size: 14px;
    }
    .v-alert__wrapper {
      .v-icon {
        font-size: 18px;
      }
    }
  }
  .deleteComment {
    height: 19px;
    width: 19px;
  }

  .projectName {
    height: 26px;
    display: inline-table;
    max-width: 220px;
  }
  .uiIconBlue {
    font-size: 14px;
    margin-top: 4px;
  }
}

/*--------------Task Project Colors ------------------*/

.asparagus {
  background: #909958 !important;
  &:hover {
    background: #909958 !important;
  }
}
.laurel_green {
  background: #BED67E !important;
  &:hover {
    background: #BED67E !important;
  }
}
.moss_green {
  background: #98CC81 !important;
  &:hover {
    background: #98CC81 !important;
  }
}
.munsell_blue {
  background: #319AB3 !important;
  &:hover {
    background: #319AB3 !important;
  }
}
.sky_blue {
  background: #4DBED9 !important;
  &:hover {
    background: #4DBED9 !important;
  }
}
.powder_blue {
  background: #9EE4F5 !important;
  &:hover {
    background: #9EE4F5 !important;
  }
}
.baby_blue {
  background: #B2E2FF !important;
  &:hover {
    background: #B2E2FF !important;
  }
}
.navy_blue {
  background: #4273C8 !important;
  &:hover {
    background: #4273C8 !important;
  }
}
.blue_gray {
  background: #8EB0EA !important;
  &:hover {
    background: #8EB0EA !important;
  }
}
.light_blue {
  background: #B3CFFF !important;
  &:hover {
    background: #B3CFFF !important;
  }
}
.light_gray {
  background: #CDCDCD !important;
  &:hover {
    background: #CDCDCD !important;
  }
}
.purple {
  background: #774EA9 !important;
  &:hover {
    background: #774EA9 !important;
  }
}
.light_purple {
  background: #BC99E7 !important;
  &:hover {
    background: #BC99E7 !important;
  }
}
.pink {
  background: #FFC8F0 !important;
  &:hover {
    background: #FFC8F0 !important;
  }
}
.beige {
  background: #FFE1BE !important;
  &:hover {
    background: #FFE1BE !important;
  }
}
.hot_pink {
  background: #F97575 !important;
  &:hover {
    background: #F97575 !important;
  }
}
.Orange {
  background-color: #FFA500 !important;
}
.CalendarTableColor {
  .Orange {
    background-color: #FFA500 !important;
  }
}
.light_brown {
  background: #C5B294 !important;
  &:hover {
    background: #C5B294 !important;
  }
}
.gray {
  background: #A39594 !important;
  &:hover {
    background: #A39594 !important;
  }
}
.plum {
  background: #CEA6AC !important;
  &:hover {
    background: #CEA6AC !important;
  }
}

.asparagus_border {
  border-color: #909958 !important;
}
.laurel_green_border {
  border-color: #BED67E !important;
}
.moss_green_border {
  border-color: #98CC81 !important;
}
.munsell_blue_border {
  border-color: #319AB3 !important;
}
.sky_blue_border {
  border-color: #4DBED9 !important;
}
.powder_blue_border {
  border-color: #9EE4F5 !important;
}
.baby_blue_border {
  border-color: #B2E2FF !important;
}
.navy_blue_border {
  border-color: #4273C8 !important;
}
.blue_gray_border {
  border-color: #8EB0EA !important;
}
.light_blue_border {
  border-color: #B3CFFF !important;
}
.light_gray_border {
  border-color: #CDCDCD !important;
}
.purple_border {
  border-color: #774EA9 !important;
}
.light_purple_border {
  border-color: #BC99E7 !important;
}
.pink_border {
  border-color: #FFC8F0 !important;
}
.beige_border {
  border-color: #FFE1BE !important;
}
.hot_pink_border {
  border-color: #F97575 !important;
}
.light_brown_border {
  border-color: #C5B294 !important;
}
.gray_border {
  border-color: #A39594 !important;
}
.plum_border {
  border-color: #CEA6AC !important;
}
.Orange_border {
  border-color: #FFA500 !important;
}
.green_border {
  border-color: #4CAF50 !important;
}
.red_border {
  border-color: #F44336 !important;
}
.yellow_border {
  border-color: #ffeb3b !important;
}
.brown_border {
  border-color: #795548 !important;
}
.uiIconCalTask:before {
  content: "\e611";
  font-family: "PLF-FONT-ICONS";
}
